.ob-jupyter/
.metadata/
auto/
ltximg/
obipy-resources/
papers/
RemoteSystemsTempFiles/
oldCode/
*/.auctex.auto/
.ipynb_checkpoints
*~
*.aux
*.log
*.bbl
*.brf
*.blg
*.synctex.gz
*.out
*.toc
*.snm
*.nav
.\#*
*.mov
*.el
*/_region_.*
*.fls
*.fdb_latexmk
*.bib.sav
*.bib.bak
